[dir="rtl"]{
  text-align: right;
}
[dir="rtl"] * {
  direction: rtl;
}

[dir="ltr"] * {
  direction: ltr;
}
[dir='rtl'] .navigation-drawer{
  border-left: 1px solid var(--border-color);
  border-right: none;
}
[dir="ltr"] .navigation-drawer{
  border-right: 1px solid var(--border-color);
  border-left: none;
}
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 13px;
}

button {
  font-size: 13px;
}

form {
  display: contents;
}

/* https://stackoverflow.com/questions/44543157/how-to-hide-the-google-invisible-recaptcha-badge */
.grecaptcha-badge {
  visibility: hidden !important;
}
